<hr/>
<div class="row">
  <div class="col-sm-12 col-md-5 col-lg-3">
    <div style="margin-bottom: 0.5rem;">
      <a href="" class="d-inline-block align-sef-bottom" [routerLink]="['/nhap-lieu/thiet-bi']">Phân nhóm ( 3,048 ) »</a>
    </div>

    <sk-statistics-tree-view [thietbis]="thietbis"></sk-statistics-tree-view>
  </div>
  <div class="col-sm-12 col-md-7 col-lg-9">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam ea aperiam inventore itaque quaerat qui iste suscipit accusamus rem non. Doloremque at iusto atque laboriosam, aut beatae aperiam quisquam ipsa!
  </div>
</div>