.header {
  border-bottom: 1px solid #666;
  display: flex;
  justify-content: space-between;
}

.align-sef-bottom {
  align-self: flex-end;
}

.list-group-item {
  display: block;
}

.text-right i:hover {
  color: #ffb400;
}

