<form [formGroup]="userChangePasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-group" [ngClass]="{'has-danger': oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)}">
      <label class="form-control-label" for="oldPasswordInput">Nhập mật khẩu hiện tại</label>
      <input type="password" class="form-control" id="oldPasswordInput" placeholder="Mật khẩu hiện tại của tôi" formControlName="oldPassword">
      <div class="form-control-feedback" *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)">
        <small class="form-text" *ngIf="oldPassword.errors.required">Bạn chưa nhập mật khẩu cũ</small>
      </div>
    </div>
    <div class="form-group" [ngClass]="{'has-danger': newPassword.invalid && (newPassword.dirty || newPassword.touched)}">
      <label class="form-control-label" for="newPasswordInput">Nhập mật khẩu mới</label>
      <input type="password" class="form-control" id="newPasswordInput" placeholder="Mật khẩu mới " formControlName="newPassword">
      <div class="form-control-feedback" *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
        <small class="form-text" *ngIf="newPassword.errors.required">Bạn chưa nhập mật khẩu mới</small>
        <small class="form-text" *ngIf="newPassword.errors.rangeLength">Mật khẩu phải có độ dài từ 6 - 15 ký tự</small>
      </div>
    </div>
    <div class="form-group" [ngClass]="{'has-danger': repeatNewPassword.invalid && (repeatNewPassword.dirty || repeatNewPassword.touched)}">
      <label class="form-control-label" for="repeatNewPasswordInput">Nhập lại mật khẩu mới</label>
      <input type="password" class="form-control" id="repeatNewPasswordInput" placeholder="Nhập lại mật khẩu" formControlName="repeatNewPassword">
      <div class="form-control-feedback" *ngIf="repeatNewPassword.invalid && (repeatNewPassword.dirty || repeatNewPassword.touched)">
        <small class="form-text" *ngIf="repeatNewPassword.errors.required">Bạn chưa xác nhận mật khẩu mới</small>
        <small class="form-text" *ngIf="repeatNewPassword.errors.equalTo">Xác nhận mật khẩu của bạn không khớp</small>
      </div>
    </div>
    <button type="submit" class="btn btn-outline-secondary mt-2" [disabled]="userChangePasswordForm.invalid || submitting">Cập nhật</button>
  </form>
