<div *ngIf="selectedThietBi">
  <div class="d-header" style="margin-top: 1.5rem;">
    <div style="display: flex; flex-direction: column;">
      <h3 class="d-inline-block d-title">Thiết bị: {{selectedThietBi.maThietBi}}</h3>
      <span *ngIf="selectedThietBi.maMaximo || selectedThietBi.maTopX">( <span *ngIf="selectedThietBi.maMaximo" [ngClass]="{'has-comma': selectedThietBi.maTopX}">Maximo: {{selectedThietBi.maMaximo}}</span><span
        *ngIf="selectedThietBi.maTopX">TOPX: {{selectedThietBi.maTopX}}</span> )</span>
    </div>
    <a href="" class="d-inline-block align-sef-bottom sk-primary-link" (click)="goBack($event)">Trở về »</a>
  </div>

  <div style="margin-top:0.5rem; margin-bottom: 1.5rem;">
    <small class="text-right d-block">Chủng loại: <a href="" style="margin-right: 0.5rem;">{{selectedThietBi.chungLoai}}</a> Loại: <a href="">{{selectedThietBi.loai}}</a></small>
    <small class="text-right d-block">Mã tham chiếu: {{selectedThietBi.$key}}</small>
  </div>

  <div id="thietbi_details">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Hồ sơ thiết bị</h5>
      <small><a>{{selectedThietBi.trangThai}}</a> tại <a>{{selectedThietBi.khuVuc}}</a></small>
    </div>
    <div>
      <p><span class="label">Hãng sản xuất:</span> <span class="content"><a href="">{{selectedThietBi.hangSanXuat}}</a> <span *ngIf="selectedThietBi.namSanXuat">( <a href="">{{selectedThietBi.namSanXuat}}</a> )</span></span>
      </p>
      <p><span class="label">Nhà phân phối:</span> <span class="content"><span *ngIf="selectedThietBi.nhaPhanPhoi"><a href="">{{selectedThietBi.nhaPhanPhoi}}</a></span><span
          *ngIf="!selectedThietBi.nhaPhanPhoi">-</span></span>
      </p>
      <p><span class="label">Model:</span> <span class="content"><span *ngIf="selectedThietBi.modelThietBi"><a href="">{{selectedThietBi.modelThietBi}}</a></span><span
          *ngIf="!selectedThietBi.modelThietBi">-</span></span>
      </p>
      <p><span class="label">Năm sử dụng:</span> <span class="content"><span *ngIf="selectedThietBi.namSuDung"><a href="">{{selectedThietBi.namSuDung}}</a></span><span
          *ngIf="!selectedThietBi.namSuDung">-</span></span>
      </p>
      <p><span class="label">Biển số:</span> <span class="content">{{selectedThietBi.bienSo ? selectedThietBi.bienSo : '-'}}</span></p>
      <p><span class="label">Số đăng ký:</span> <span class="content">{{selectedThietBi.soDangKy ? selectedThietBi.soDangKy: '-'}}</span></p>
      <p><span class="label">Số khung:</span> <span class="content">{{selectedThietBi.soKhung ? selectedThietBi.soKhung : '-'}}</span></p>
      <p><span class="label">Số máy:</span> <span class="content">{{selectedThietBi.soMay ? selectedThietBi.soMay : '-'}}</span></p>
      <p><span class="label">Số đăng kiểm:</span> <span class="content">{{selectedThietBi.soDangKiem ? selectedThietBi.soDangKiem : '-'}}</span></p>
      <p><span class="label">Cấp chất lượng:</span> <span class="content"><span *ngIf="selectedThietBi.capChatLuong"><a href="">{{selectedThietBi.capChatLuong}}</a></span><span
          *ngIf="!selectedThietBi.capChatLuong">-</span></span>
      </p>
    </div>
    <hr/>
    <div>
      <h5 class="mb-1">Phân quyền</h5>
    </div>
    <div>
      <p><span class="label">ĐV Quản lý:</span> <span class="content"><a href="">{{selectedThietBi.dvQuanLy}} ( {{selectedThietBi.dvQuanLyId}} )</a></span></p>
      <p><span class="label">ĐV Sở hữu:</span> <span class="content"><a href="">{{selectedThietBi.dvSoHuu}} ( {{selectedThietBi.dvSoHuuId}} )</a></span></p>
    </div>
    <div *ngIf="selectedThietBi.tags || selectedThietBi.moTa || selectedThietBi.ghiChu">
      <hr/>
      <div>
        <h5 class="mb-1">Mở rộng</h5>
      </div>
      <div>
        <div *ngIf="selectedThietBi.tags">
          <p><span class="label">Gắn thẻ:</span></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
          <br/>
        </div>
        <div *ngIf="selectedThietBi.moTa">
          <p><span class="label">Mô tả:</span></p>
          <p>{{selectedThietBi.moTa}}</p>
          <br/>
        </div>
        <div *ngIf="selectedThietBi.ghiChu">
          <p><span class="label">Ghi chú:</span></p>
          <p>{{selectedThietBi.ghiChu}}</p>
          <br/>
        </div>
      </div>
    </div>
  </div>
</div>