<div class="d-header" style="margin-top: 1.5rem;">
  <div style="display: flex; flex-direction: column;">
    <h3 class="d-inline-block d-title">Thiết bị: NB221</h3>
    <span>( Maximo: NB221, TOPX: G31 )</span>
  </div>
  <a href="" class="d-inline-block align-sef-bottom sk-primary-link" (click)="goBack($event)">Trở về »</a>
</div>

<div style="margin-top:0.5rem; margin-bottom: 1.5rem;">
  <small class="text-right d-block">Chủng loại: <a href="" style="margin-right: 0.5rem;">Đầu kéo</a> Loại: <a href="">Đầu kéo nội bộ</a></small>
  <small class="text-right d-block">Mã tham chiếu: -KccaivHdlBmqfRHsqnF</small>
</div>

<div id="thietbi_details">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">Hồ sơ thiết bị</h5>
    <small><a>Đang hoạt động</a> tại <a>Cát Lái</a></small>
  </div>
  <div>
    <p><span class="label">Hãng sản xuất:</span> <span class="content"><a href="">Mitsui</a> ( <a href="">2016</a> )</span></p>
    <p><span class="label">Nhà phân phối:</span> <span class="content"><a href="">Gia Việt Khang</a></span></p>
    <p><span class="label">Model:</span> <span class="content"><a href="">PH456</a> ( <a href="">2016</a> )</span></p>
    <p><span class="label">Năm sử dụng:</span> <span class="content"><a href="">2017</a></span></p>
    <p><span class="label">Biển số:</span> <span class="content">fhasohfadfs</span></p>
    <p><span class="label">Số đăng ký:</span> <span class="content">NO18</span></p>
    <p><span class="label">Số khung:</span> <span class="content">112384</span></p>
    <p><span class="label">Số máy:</span> <span class="content">034095435</span></p>
    <p><span class="label">Số đăng kiểm:</span> <span class="content">324394</span></p>
    <p><span class="label">Cấp chất lượng:</span> <span class="content"><a href="">2</a></span></p>
  </div>
  <hr/>
  <div>
    <h5 class="mb-1">Phân quyền</h5>
  </div>
  <div>
    <p><span class="label">ĐV Quản lý:</span> <span class="content"><a href="">XN Cơ giới xếp dỡ Tân Cảng (XNCG)</a></span></p>
    <p><span class="label">ĐV Sở hữu:</span> <span class="content"><a href="">XN Cơ giới xếp dỡ Tân Cảng (XNCG)</a></span></p>
  </div>
  <hr/>
  <div>
    <h5 class="mb-1">Mở rộng</h5>
  </div>
  <div>
    <p><span class="label">Gắn thẻ:</span></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    <br/>  
    <p><span class="label">Mô tả:</span></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci voluptatum earum sunt consectetur! Modi saepe, eum
      rerum odit maiores quis beatae? Unde sit perferendis esse, expedita dignissimos! Asperiores, nemo, facilis.</p>
    <br/>  
    <p><span class="label">Ghi chú:</span></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci voluptatum earum sunt consectetur! Modi saepe, eum
      rerum odit maiores quis beatae? Unde sit perferendis esse, expedita dignissimos! Asperiores, nemo, facilis.</p>
  </div>
</div>