<p>
  statistics-tree-view works!
</p>
<ul id="treeview">
  <li data-expanded="true">
    <i class="fa fa-folder-open" aria-hidden="true"></i>Thiết bị ( 3,408 )
    <ul>
      <li data-expanded="true">
        <i class="fa fa-folder-open" aria-hidden="true"></i>Thiết bị nâng ( 1,235 )
        <ul>
          <li data-expanded="true">
            <i class="fa fa-folder-open" aria-hidden="true"></i>Xe nâng ( 234 )
            <ul>
              <li data-expanded="true">
                <i class="fa fa-folder-open" aria-hidden="true"></i>Xe nâng hàng ( 37 )
                <ul>
                  <li><i class="fa fa-file-text" aria-hidden="true"></i>Kalmar ( 12 )</li>
                  <li><i class="fa fa-file-text" aria-hidden="true"></i>Zert ( 2 )</li>
                </ul>
              </li>
              <li><i class="fa fa-folder-open" aria-hidden="true"></i>Xe nâng rỗng ( 64 )</li>
            </ul>
          </li>
          <li>body-back.png</li>
          <li>my-photo.jpg</li>
        </ul>
      </li>
      <li data-expanded="true">
        <i class="fa fa-folder-open" aria-hidden="true"></i>resources
        <ul>
          <li data-expanded="true">
            <i class="fa fa-folder-open" aria-hidden="true"></i>pdf
            <ul>
              <li><span class="k-sprite pdf"></span>brochure.pdf</li>
              <li><span class="k-sprite pdf"></span>prices.pdf</li>
            </ul>
          </li>
          <li><i class="fa fa-folder-open" aria-hidden="true"></i>zip</li>
        </ul>
      </li>
      <li><span class="k-sprite html"></span>about.html</li>
      <li><span class="k-sprite html"></span>contacts.html</li>
      <li><span class="k-sprite html"></span>index.html</li>
      <li><span class="k-sprite html"></span>portfolio.html</li>
    </ul>
  </li>
</ul>