<footer class="sk-footer text-muted">
  <div class="container">
    <p>©2014-2017 Phòng Kỹ Thuật Vật Tư, <a rel="license" href="https://saigonnewport.com.vn" target="_blank">Tổng Công Ty Tân Cảng Sài Gòn</a>, docs <a rel="license" href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>.</p>
    <p>Phần mềm quản lý phương tiện Skynet, được phát triển từ năm 2014 bởi <a href="mailto:longhx@saigonnewport.com.vn" target="_top">@Long Hồ</a> và đang được mở rộng tới các lĩnh vực khác trong tương lai.</p>
    <p>Phiên bản v3.0.1-alpha.6.</p>
  </div>
</footer>