.navbar-brand {
    color: #444;
}
.active {
    color: #eb5b51 !important;
}
nav {
    border-radius: 0;
    @media (max-width: 575px) { 
        .container {
            margin-left: 0;
            margin-right: 0;
        }
     }
    
}
