<div class="d-header" style="margin-top: 1.5rem;">
  <h3 class="d-inline-block d-title">Xin chào<span *ngIf="userProfile && userProfile.displayName">, {{userProfile.displayName}}</span>!</h3>
  <a href="" class="d-inline-block align-sef-bottom sk-primary-link" [routerLink]="['/thong-ke/danh-sach']">Trở về »</a>
</div>
<div style="margin-top:0.5rem; margin-bottom: 1.5rem;">
  <small class="text-right d-block">Cập nhật các thông tin của bạn theo mẫu phiếu dưới đây</small>
</div>


<div class="form-wrapper">
  <form [formGroup]="userProfileForm" (ngSubmit)="onSubmit(userProfileForm.value)">
      <div class="form-group" [ngClass]="{'has-danger': displayName.invalid && (displayName.dirty || displayName.touched)}">
        <label class="form-control-label" for="displayNameInput">Tên hiển thị</label>
        <input type="text" class="form-control" id="displayNameInput" placeholder="Họ và tên" formControlName="displayName">
        <div class="form-control-feedback" *ngIf="displayName.invalid && (displayName.dirty || displayName.touched)">
          <small class="form-text" *ngIf="displayName.errors.required">Chưa có thông tin về tên hiển thị</small>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-danger': description.invalid && (description.dirty || description.touched)}">
        <label class="form-control-label" for="descriptionInput">Mô tả</label>
        <input type="text" class="form-control" id="descriptionInput" placeholder="Nhập đơn vị công tác" formControlName="description">
        <div class="form-control-feedback" *ngIf="description.invalid && (description.dirty || description.touched)">
          <small class="form-text" *ngIf="description.errors.required">Chưa có thông tin về đơn vị công tác</small>
        </div>
      </div>
      <button type="submit" class="btn btn-outline-info mt-2" [disabled]="userProfileForm.invalid || submitting">Cập nhật</button>
  </form>
  <form>
    <button type="button" class="btn btn-outline-secondary mt-2" (click)="isChangePassword=!isChangePassword">Đổi mật khẩu »</button>
  </form>
  <sk-preferences-profile-change-password *ngIf="isChangePassword"></sk-preferences-profile-change-password>
  <form>
    <button type="button" class="btn btn-outline-warning mt-2" (click)="logout()">Đăng xuất »</button>
  </form>
</div>
<hr/>
<br/>