.search-button-addon {
    color: #888;
    background-color: #fff;
    &:hover {
        background-color: #e6e6e6;
        border-color: #adadad;
        cursor: pointer;
        color: #ffb400;
    } 
}
