::-webkit-input-placeholder {
   color: #aaa !important;
}
:-moz-placeholder { /* Firefox 18- */
   color: #aaa !important;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #aaa !important;  
}
:-ms-input-placeholder {  
   color: #aaa !important;  
}

button {
  cursor: pointer;
}

.d-header {
  border-bottom: 1px solid #666;
  display: flex;
  justify-content: space-between;
}

.align-sef-bottom {
  align-self: flex-end;
}

.ng2-pagination {
  margin: 0 !important;
  padding: 0;

  .pagination-previous {
    display: none;
  }
  .pagination-next {
    display: none
  }

  li {
    vertical-align: bottom;
  }
  
  li:hover {
     background-color: transparent;
  }
}

.ng2-pagination .current {
  border-bottom: 2px solid #dbdbdb;
  background: transparent !important;
  padding: 6px 12px !important;
}

.ng2-pagination a, .ng2-pagination button {
  background-color: transparent;
  align-items: center;
  padding: 6px 12px !important;
}

.ng2-pagination a:hover {
  background: transparent !important;
  border-bottom: 2px solid #dbdbdb;
  padding: 6px 12px;     
}

.sk-footer {
  color: $sk-color-default;
  text-align: left;
  padding: 2rem 0;
  margin-top: 4rem;
  font-size: 85%;
  background-color: #555;
  a  {
    font-weight: 500;
  };
}



.sk-footer-links {
  li {
      display: inline-block;
      list-style-type: none;
  }
  li+li {
      margin-left: 1rem;
  }
  padding-left: 0;
  margin-bottom: 1rem;
    
}
