::-webkit-input-placeholder {
   color: #aaa !important;
}
:-moz-placeholder { /* Firefox 18- */
   color: #aaa !important;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #aaa !important;  
}
:-ms-input-placeholder {  
   color: #aaa !important;  
}

.d-header {
  border-bottom: 1px solid #666;
  display: flex;
  justify-content: space-between;
}

.align-sef-bottom {
  align-self: flex-end;
}