<form style="margin-top: 30px;" [formGroup]="thietbiForm" (ngSubmit)="onSubmit(thietbiForm.value)">
  <ul class="list-group">
    <li class="list-group-item">
      <!--<h5 class="mb-1 d-title-small">Mã thiết bị</h5>-->
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="form-group" [ngClass]="{'has-danger': maThietBi.invalid && (maThietBi.dirty || maThietBi.touched)}">
            <label class="form-control-label" for="maThietBi">Mã thiết bị*</label>
            <input type="text" class="form-control" id="maThietBi" placeholder="Nhập mã quản lý" formControlName="maThietBi">
            <div class="form-control-feedback" *ngIf="maThietBi.invalid && (maThietBi.dirty || maThietBi.touched)">
              <small class="form-text" *ngIf="maThietBi.errors.required">Chưa có thông tin về mã thiết bị</small>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="form-group">
            <label class="form-control-label" for="maTopX">Mã TOPX</label>
            <input type="text" class="form-control" id="maTopX" placeholder="Nhập mã TOPX" formControlName="maTopX">
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="form-group">
            <label class="form-control-label" for="maMaximo">Mã Maximo</label>
            <input type="text" class="form-control" id="maMaximo" placeholder="Nhập mã Maximo" formControlName="maMaximo">
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="text-right" *ngIf="mode==='addNew'">
        <i class="fa" [ngClass]="{'fa-unlock-alt': !partialLockPhanLoai, 'fa-lock text-warning': partialLockPhanLoai}" (click)="partialLockPhanLoai=!partialLockPhanLoai"></i>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="form-group" [ngClass]="{'has-danger': nhom.invalid && (nhom.dirty || nhom.touched)}">
            <label class="form-control-label" for="nhom">Nhóm*</label>
            <select class="form-control" id="nhom" formControlName="nhom">
              <option></option>
              <option *ngFor="let nhom of selectOptions.nhoms" [value]="nhom">{{nhom}}</option>
            </select>
            <div class="form-control-feedback" *ngIf="nhom.invalid && (nhom.dirty || nhom.touched)">
              <small class="form-text" *ngIf="nhom.errors.required">Chưa có thông tin về nhóm thiết bị</small>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="form-group" [ngClass]="{'has-danger': chungLoai.invalid && (chungLoai.dirty || chungLoai.touched)}">
            <label class="form-control-label" for="chungLoai">Chủng loại*</label>
            <select class="form-control" id="chungLoai" formControlName="chungLoai">
              <option></option>
              <option *ngFor="let chungLoai of selectOptions.chungLoais[nhom.value]" [value]="chungLoai">{{chungLoai}}</option>        
            </select>
            <div class="form-control-feedback" *ngIf="chungLoai.invalid && (chungLoai.dirty || chungLoai.touched)">
              <small class="form-text" *ngIf="chungLoai.errors.required">Chưa có thông tin về chủng loại thiết bị</small>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="form-group" [ngClass]="{'has-danger': loai.invalid && (loai.dirty || loai.touched)}">
            <label class="form-control-label" for="loai">Loại*</label>
            <select class="form-control" id="loai" formControlName="loai">
              <option></option>
              <option *ngFor="let loai of selectOptions.loais[chungLoai.value]" [value]="loai">{{loai}}</option>        
            </select>
            <div class="form-control-feedback" *ngIf="loai.invalid && (loai.dirty || loai.touched)">
              <small class="form-text" *ngIf="loai.errors.required">Chưa có thông tin về loại thiết bị</small>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="text-right" *ngIf="mode==='addNew'">
        <i class="fa" [ngClass]="{'fa-unlock-alt': !partialLockNguonGoc, 'fa-lock text-warning': partialLockNguonGoc}" (click)="partialLockNguonGoc=!partialLockNguonGoc"></i>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="form-group" [ngClass]="{'has-danger': hangSanXuat.invalid && (hangSanXuat.dirty || hangSanXuat.touched)}">
            <label class="form-control-label" for="hangSanXuat">Hãng sản xuất*</label>
            <select class="form-control" id="hangSanXuat" formControlName="hangSanXuat">
              <option></option>
              <option *ngFor="let hangSanXuat of selectOptions.hangSanXuats" [value]="hangSanXuat">{{hangSanXuat}}</option>        
            </select>
            <div class="form-control-feedback" *ngIf="hangSanXuat.invalid && (hangSanXuat.dirty || hangSanXuat.touched)">
              <small class="form-text" *ngIf="hangSanXuat.errors.required">Chưa có thông tin về hãng sản xuất</small>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="form-group">
            <label class="form-control-label" for="modelThietBi">Model thiết bị</label>
            <select class="form-control" id="modelThietBi" formControlName="modelThietBi">
              <option></option>
              <option *ngFor="let modelThietBi of selectOptions.modelThietBis[hangSanXuat.value]" [value]="modelThietBi">{{modelThietBi}}</option>        
            </select>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="form-group">
            <label class="form-control-label" for="nhaPhanPhoi">Nhà phân phối</label>
            <select class="form-control" id="nhaPhanPhoi" formControlName="nhaPhanPhoi">
              <option></option>
              <option *ngFor="let nhaPhanPhoi of selectOptions.nhaPhanPhois" [value]="nhaPhanPhoi">{{nhaPhanPhoi}}</option>            
            </select>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="form-group">
            <label class="form-control-label" for="namSanXuat">Năm sản xuất</label>
            <input type="number" class="form-control" id="namSanXuat" placeholder="Năm sản xuất" formControlName="namSanXuat">
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="form-group">
            <label class="form-control-label" for="namSuDung">Năm sử dụng</label>
            <input type="number" class="form-control" id="namSuDung" placeholder="Năm sử dụng" formControlName="namSuDung">
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="text-right" *ngIf="mode==='addNew'">
        <i class="fa" [ngClass]="{'fa-unlock-alt': !partialLockPhanQuyen, 'fa-lock text-warning': partialLockPhanQuyen}" (click)="partialLockPhanQuyen=!partialLockPhanQuyen"></i>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="form-group" [ngClass]="{'has-danger': dvQuanLy.invalid && (dvQuanLy.dirty || dvQuanLy.touched)}">
            <label class="form-control-label" for="dvQuanLy">Quản lý*</label>
            <select class="form-control" id="dvQuanLy" formControlName="dvQuanLy">
              <option></option>
              <option *ngFor="let donViObj of selectOptions.donVis" [value]="donViObj.donVi">{{donViObj.donVi}}</option>        
            </select>
            <div class="form-control-feedback" *ngIf="dvQuanLy.invalid && (dvQuanLy.dirty || dvQuanLy.touched)">
              <small class="form-text" *ngIf="dvQuanLy.errors.required">Chưa có thông tin về đơn vị quản lý</small>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="form-group" [ngClass]="{'has-danger': dvSoHuu.invalid && (dvSoHuu.dirty || dvSoHuu.touched)}">
            <label class="form-control-label" for="dvSoHuu">Sở hữu*</label>
            <select class="form-control" id="dvSoHuu" formControlName="dvSoHuu">
              <option></option>
              <option *ngFor="let donViObj of selectOptions.donVis" [value]="donViObj.donVi">{{donViObj.donVi}}</option>        
            </select>
            <div class="form-control-feedback" *ngIf="dvSoHuu.invalid && (dvSoHuu.dirty || dvSoHuu.touched)">
              <small class="form-text" *ngIf="dvSoHuu.errors.required">Chưa có thông tin về đơn vị sở hữu</small>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="text-right" *ngIf="mode==='addNew'">
        <i class="fa" [ngClass]="{'fa-unlock-alt': !partialLockKhuVuc, 'fa-lock text-warning': partialLockKhuVuc}" (click)="partialLockKhuVuc=!partialLockKhuVuc"></i>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="form-group" [ngClass]="{'has-danger': trangThai.invalid && (trangThai.dirty || trangThai.touched)}">
            <label class="form-control-label" for="trangThai">Trạng thái*</label>
            <select class="form-control" id="trangThai" formControlName="trangThai">
              <option></option>
              <option *ngFor="let trangThai of selectOptions.trangThais" [value]="trangThai">{{trangThai}}</option>
            </select>
            <div class="form-control-feedback" *ngIf="trangThai.invalid && (trangThai.dirty || trangThai.touched)">
              <small class="form-text" *ngIf="trangThai.errors.required">Chưa có thông tin về trạng thái thiết bị</small>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="form-group" [ngClass]="{'has-danger': khuVuc.invalid && (khuVuc.dirty || khuVuc.touched)}">
            <label class="form-control-label" for="khuVuc">Khu vực*</label>
            <select class="form-control" id="khuVuc" formControlName="khuVuc">
              <option></option>
              <option *ngFor="let khuVucObj of selectOptions.khuVucs" [value]="khuVucObj.khuVuc">{{khuVucObj.khuVuc}}</option>        
            </select>
            <div class="form-control-feedback" *ngIf="khuVuc.invalid && (khuVuc.dirty || khuVuc.touched)">
              <small class="form-text" *ngIf="khuVuc.errors.required">Chưa có thông tin về khu vực hoạt động</small>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="form-group">
            <label class="form-control-label" for="bienSo">Biển số</label>
            <input type="text" class="form-control" id="bienSo" placeholder="Biển số" formControlName="bienSo">
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="form-group">
            <label class="form-control-label" for="soDangKy">Số đăng ký</label>
            <input type="text" class="form-control" id="soDangKy" placeholder="Số đăng ký" formControlName="soDangKy">
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="form-group">
            <label class="form-control-label" for="soKhung">Số khung</label>
            <input type="text" class="form-control" id="soKhung" placeholder="Số khung" formControlName="soKhung">
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="form-group">
            <label class="form-control-label" for="soMay">Số máy</label>
            <input type="text" class="form-control" id="soMay" placeholder="Số máy" formControlName="soMay">
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="form-group">
            <label class="form-control-label" for="soDangKiem">Số đăng kiểm</label>
            <input type="text" class="form-control" id="soDangKiem" placeholder="Số đăng kiểm" formControlName="soDangKiem">
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="form-group">
            <label class="form-control-label" for="capChatLuong">Cấp chất lượng</label>
            <input type="number" class="form-control" id="capChatLuong" placeholder="Cấp chất lượng" formControlName="capChatLuong">
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label class="form-control-label" for="moTa">Mô tả</label>
            <input type="text" class="form-control" id="moTa" formControlName="moTa">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label class="form-control-label" for="ghiChu">Ghi chú</label>
            <textarea class="form-control" id="ghiChu" rows="3" formControlName="ghiChu"></textarea>
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item" style="padding-bottom: 30px;">
      <div class="row">
        <div class="col" *ngIf="mode==='addNew'">
          <button type="submit" class="btn btn-outline-success" [disabled]="thietbiForm.invalid || submitting"><i class="fa fa-check"></i> Tạo mới</button>
          <a class="btn btn-outline-secondary" (click)="onReset()"><i class="fa fa-undo"></i> Reset</a>
        </div>

        <div class="col" *ngIf="mode==='update'">
        <div style="display: flex; justify-content: space-between;">
          <div>
            <button type="submit" class="btn btn-outline-primary">Cập nhật</button>
            <button class="btn btn-outline-warning" (click)="onReset()">Reset</button>
          </div>
          <div>
            <button class="btn btn-outline-danger">Xóa bỏ</button>
          </div>
        </div>        
      </div>
      </div>
    </li>
  </ul>
</form>

<pre>{{thietbiForm.value | json}}</pre>